.cart-product-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .cart-product-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cart-fill-row .cart-product-list > * {
  grid-column: span 2 / span 2;
}
